@using Portfolio.Resources
@using Portfolio.Models
@{
    Layout = null;
    DateTime date = DateTime.Now;
    int year = DateTime.Now.Year;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shohrat Maharram</title>
    <link rel="shortcut icon" type="image/png" href="~/Public/img/me2.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="~/Public/flag-icon-css-master/css/flag-icon.css">
    <link rel="stylesheet" href="~/Public/css/style.css">
</head>
<body>
    <header id="navbar" class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-sm-6 col-6 logo">
                    <a href="@Url.Action("index","home")">@ViewBag.AboutMe.FullName</a>
                </div>
                <div class="col-md-6 col-sm-4 col-4 right-nav">
                    <ul>
                        <li data-index="1">
                            <a class="active" href="">@Global.Intro</a>
                        </li>
                        <li data-index="2">
                            <a href="">@Global.About</a>
                        </li>
                        <li data-index="3">
                            <a href="">@Global.Skills</a>
                        </li>
                        <li data-index="4">
                            <a href="">@Global.Portfolio</a>
                        </li>
                        <!-- <li data-index="5">
                            <a href="">Blog</a>
                        </li> -->
                        <li data-index="6">
                            <a href="">@Global.Contacts</a>
                        </li>
                    </ul>
                    <div class="menuContainer">
                        <div class="menu">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-2 col-2 lang">
                    <div class="custamLang">
                        <p>@Global.Language</p>
                        <ul>
                            <li>
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(),new { lang = "az" }, null)">@Global.Azerbaijani</a>
                            </li>
                            <li>
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(),new { lang = "en" }, null)">@Global.English</a>
                            </li>
                            <li>
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(),new { lang = "ru" }, null)">@Global.Russia</a>
                            </li>
                        </ul>
                    </div>
                    <div class="responsiveLang">
                        <p>
                            <i class="fas fa-globe"></i>
                        </p>
                        <ul>
                            <li>
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(),new { lang = "az" }, null)">
                                    <span class="flag-icon flag-icon-az"></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(),new { lang = "en" }, null)">
                                    <span class="flag-icon flag-icon-gb"></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(),new { lang = "ru" }, null)">
                                    <span class="flag-icon flag-icon-ru"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 responsive-nav">
                    <ul>
                        <li data-index="1">
                            <a class="active" href="">@Global.Intro</a>
                        </li>
                        <li data-index="2">
                            <a href="">@Global.About</a>
                        </li>
                        <li data-index="3">
                            <a href="">@Global.Skills</a>
                        </li>
                        <li data-index="4">
                            <a href="">@Global.Portfolio</a>
                        </li>
                        <!-- <li data-index="5">
                            <a href="">Blog</a>
                        </li> -->
                        <li data-index="6">
                            <a href="">@Global.Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section id="intro" class="section" data-index="1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 intro-text">
                    <h1>
                        @Global.Hello!
                        <br> @Global.Iam @ViewBag.AboutMe.Position @Global.Suffics
                    </h1>
                    <h1 class="name">
                        @Global.MyNameIs
                        <br>
                        <span>@ViewBag.AboutMe.FullName</span> @Global.Suffics2
                    </h1>
                    <div class="cv">
                        <ul>
                            <li class="contactInfo">
                                <a href="">@Global.ContactMe</a>
                            </li>
                            <li>
                                <a target="_blank" href="@Url.Action("DownloadCV","home")">@Global.DownloadCV</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 offset-md-4 col-sm-8 intro-image">
                    <img src="~/Public/img/@ViewBag.AboutMe.Photo" alt="">
                    <!--  230x300 px -->
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="section" data-index="2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <h1>@Global.AboutMe</h1>
                    <p>s</p>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-6 aboutMe">
                    <p>
                        @ViewBag.AboutMe.Text
                    </p>
                    <ul class="info-about">
                        <li>
                            <strong>@Global.FullName</strong>@ViewBag.AboutMe.FullName
                        </li>
                        <li>
                            <strong>@Global.Age</strong>@(year - ViewBag.AboutMe.Birth)
                        </li>
                        <li>
                            <strong>@Global.Address</strong>@ViewBag.AboutMe.Address
                        </li>
                        <li>
                            <strong>@Global.PhoneNumber</strong>@ViewBag.AboutMe.Phone
                        </li>
                        <li>
                            <strong>@Global.Email</strong>@ViewBag.AboutMe.Email
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 knowladge">
                    <div class="row">
                        @foreach (Knowledge item in ViewBag.Knowledge)
                        {
                            <div class="col-md-4 col-sm-6 iconContainer">
                                <div class="icon">
                                    @if (item.IsIcon == 1)
                                    {
                                        <i class="fab fa-@item.Icon"></i>
                                    }
                                    else
                                    {
                                        <img src="~/Public/img/@item.Icon" alt="">
                                    }
                                </div>
                                <p>@item.Name</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="section" data-index="3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <h1>@Global.MySkills</h1>
                    <p>s</p>
                </div>
            </div>
            <div class="row content">
                @{ int i = 0;}
                @foreach (Skills item in ViewBag.Skills)
                 {
                    i++;
                    <div class="col-md-6" data-index="@i">
                        <h2>@item.Name</h2>
                        <div class="range">
                            <div class="rating">
                                <span>@item.Percentage</span>
                            </div>
                        </div>
                    </div>
                }               
            </div>
        </div>
    </section>
    <section id="portfolio" class="section" data-index="4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <h1>Portfolio</h1>
                    <p>s</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 menu">
                    <ul>
                        <li data-cat="0">
                            <a href="" class="active">@Global.All</a>
                        </li>
                        <li data-cat="1">
                            <a href="">FULL-STACK</a>
                        </li>
                        <li data-cat="2">
                            <a href="">FRONT-END</a>
                        </li>
                        <li data-cat="3">
                            <a href="">BACK-END</a>
                        </li>
                        <li data-cat="4">
                            <a href="">DESKTOP</a>
                        </li>
                        <li data-cat="5">
                            <a href="">@Global.Other</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row itemsCover">
                @foreach (Portfolio item in ViewBag.Portfolio)
                {
                    <div class="col-md-4 items" data-cat="@item.CategoryId">
                        <div class="item">
                            <img src="~/Public/img/@item.Gallery.First().Media" alt="">
                            <div class="overlay">
                                <h2>@item.Name</h2>
                                <p>@item.Slogan</p>
                                <i class="fas fa-images slideImgIcon" data-index="@item.Id"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <div id="slideCover">
        <div class="slideContainer">
            <div class="slides">
               
            </div>           
            <span class="closeSlide"></span>
            <span class="countSlide">2 / 7</span>
        </div>
        <div class="angleRight angleBoth" data-name="next">
            <i class="fas fa-caret-right"></i>
        </div>
        <div class="angleLeft angleBoth" data-name="prev">
            <i class="fas fa-caret-left"></i>
        </div>
        <div class="overlay"></div>
    </div>
    <section id="contacts" class="section" data-index="6">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <h1>@Global.ContactMe</h1>
                    <p>s</p>
                </div>
            </div>
            <div class="row form">
                <div class="col-md-12">

                    <form id="sendMessageForm">
                        @*method="post" action="@Url.Action("SendMessage", "home")"*@
                        <div class="row">
                            <div class="col-sm-4 col-12">
                                <input type="text" class="form-control input" required placeholder="@Global.Name*" name="name">
                            </div>
                            <div class="col-sm-4 col-12">
                                <input type="email" class="form-control input" required placeholder="@Global.Email*" name="email">
                            </div>
                            <div class="col-sm-4 col-12">
                                <input type="text" class="form-control input" placeholder="@Global.Subject" name="subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control input" rows="6" required placeholder="@Global.YourMessage*" name="text"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top:0px;">
                            <div class="col">
                                <input type="hidden" value="@date" name="date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <p>
                                    <span>@Global.Email :</span> @ViewBag.AboutMe.Email
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <p>
                                    <span>@Global.Phone :</span> @ViewBag.AboutMe.Phone
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-12 submit">

                                <div class="alert alert-success message message-success">
                                    <strong>Success!</strong> Your message sent.
                                </div>

                                <div class="alert alert-warning message message-error">
                                    <strong>Error!</strong> Please fill the required(*) sections.
                                </div>
                                <button class="btn btn-primary myButton">
                                    <span></span>
                                    @Global.SendMessage
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 content">
                    <ul>
                        @foreach (Social item in ViewBag.Social)
                        {
                            <li>
                                <a href="@item.Link" target="_blank">
                                    <i class="fab fa-@item.Icon"></i>
                                </a>
                            </li>
                        }
                    </ul>
                    <h1>@ViewBag.AboutMe.FullName</h1>
                    <p>
                        <i class="far fa-copyright"></i> 2018. @Global.Rights.
                    </p>
                </div>
            </div>
        </div>
        <a class="scrollToTop">
            <i class="fas fa-angle-up"></i>
        </a>
    </footer>

    <script src="~/Public/jquery/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="~/Public/js/script.js"></script>
</body>
</html>