@using Portfolio.Models
@{
    ViewBag.Title = "Portfolio";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("addProject","Portfolio")" class="btn btn-primary" style="margin-bottom:5px;">Add New Project</a>

            <h1 style="font-style:italic;float:right;font-size:25px;color:#810004;">Projects</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Slogan</th>
                        <th>Category</th>
                        <th>Language</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0; }
                    @foreach (Portfolio item in ViewBag.Projects)
                    {
                        i++;
                        <tr class="table-active">
                            <td style="text-align:center;">@i</td>
                            <td>@item.Name</td>
                            <td>@Html.Raw(item.Slogan == null ? "" : (item.Slogan.Length > 30 ? item.Slogan.Substring(0, 30) : item.Slogan)) . . .</td>
                            <td>@item.Categories.Name</td>
                            <td>@item.Lang</td>
                            <td>@item.Date</td>
                            <td style="text-align:center;">
                                <a href="@Url.Action("UpdateProject", "Portfolio",new { id=item.Id})">
                                    <i class="fas fa-pencil-alt" style="cursor:pointer; color:green;"></i>
                                </a>

                                <a href="@Url.Action("DeleteProject","Portfolio",new { id=item.Id})" onclick="return confirm('Are you sure?')">
                                    <i class="fas fa-times" style="cursor:pointer; color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <a href="@Url.Action("AddGallery","Portfolio")" class="btn btn-primary" style="margin-bottom:5px;">Add Media</a>

            <h1 style="font-style:italic;float:right;font-size:25px;color:#810004;">Project's Media</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th>Media</th>
                        <th>Project</th>
                        <th>Language</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int j = 0; }
                    @foreach (Gallery item in ViewBag.Gallery)
                    {
                        j++;
                        <tr class="table-active">
                            <td style="text-align:center;">@j</td>
                            @if (item.Media.Split('.')[1] == "mp4")
                            {
                                <td>
                                    <video style="max-width:50px;" controls>
                                        <source src="~/Uploads/@item.Media" type="video/mp4">                                        
                                    </video>
                                </td>
                            }
                            else
                            {
                                <td><img src="~/Uploads/@item.Media" style="max-width:50px;" alt="Media" /></td>
                            }
                            
                            <td>@item.Portfolio.Name</td>
                            <td>@item.Lang</td>

                            <td style="text-align:center;">
                                <a href="@Url.Action("UpdateGallery", "Portfolio",new { id=item.Id})">
                                    <i class="fas fa-pencil-alt" style="cursor:pointer; color:green;"></i>
                                </a>

                                <a href="@Url.Action("DeleteGallery","Portfolio",new { id=item.Id})" onclick="return confirm('Are you sure?')">
                                    <i class="fas fa-times" style="cursor:pointer; color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <a href="@Url.Action("AddCategory","Portfolio")" class="btn btn-primary" style="margin-bottom:5px;">Add Category</a>

            <h1 style="font-style:italic;float:right;font-size:25px;color:#810004;">Project's Category</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{int k = 0; }
                    @foreach (Categories item in ViewBag.Category)
                    {
                        k++;
                        <tr class="table-active">
                            <td style="text-align:center;">@k</td>   
                            <td>@item.Name</td>
                            <td style="text-align:center;">
                                <a href="@Url.Action("UpdateCategory", "Portfolio",new { id=item.Id})">
                                    <i class="fas fa-pencil-alt" style="cursor:pointer; color:green;"></i>
                                </a>

                                <a href="@Url.Action("DeleteCategory","Portfolio",new { id=item.Id})" onclick="return confirm('Are you sure?')">
                                    <i class="fas fa-times" style="cursor:pointer; color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>